# Requirements for the demo notebooks
# Useful for MyBinder configuration

numpy
scipy
scikit-learn
pandas
matplotlib
seaborn
nltk
nibabel
brainiak
nilearn
nltools >= 0.4.2
hypertools
timecorr
pliers
statesegmentation
nltk
networkx
datalad >= 0.12.6
requests
urllib3

