/* Faculty */

#faculty {
			.container {
				margin: 0 auto;
					width: 90%;

			}
			.card {
					min-height: 400px;
					// height: 100%;
					// width: 500px;
					// object-fit: contain;
			}
			.card-image {
					// height: 400px;
			    overflow: hidden;
					padding: 10px;
					margin-bottom: 0px;
			}
			.card-content {
					padding-top: 0px;
					padding-bottom: 10px;
					// object-fit: contain;
					// overflow: scroll;
			}
			.card-title {
					margin: 0px;
					font-size: 18pt;
					line-height: 18pt;
					font-weight: 510;
					text-transform: uppercase;
					object-fit: contain;
			}
			.card-affiliation {
					font-size: 14pt;
					line-height: 14pt;
					text-transform: capitalize;
					font-weight: 200;
			}
			.card img {
					// padding: 10px;
			    height: 300px;
			    object-fit: contain;
					margin-bottom: 0px;
			}
}






.card img.materialized.active {
    max-height: none;
    object-fit: none;
}
